[mysqld]
bind-address = 0.0.0.0

# Imports
local_infile = 1

# Networking / stability
max_allowed_packet = 1G
net_read_timeout = 600
net_write_timeout = 600
wait_timeout = 60
interactive_timeout = 60
host_cache_size = 0

# InnoDB – CRITICAL FIXES
innodb_redo_log_capacity = 4G
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT

# Optional but good
max_connections = 200
max_execution_time = 30000
